@import 'tailwindcss';
@import 'uploadthing/tw/v4';
@source '../node_modules/@uploadthing/react/dist';

:root {
  /* bg image */
  --hero-bg-img: url('/hero/hero-bg.png');

  /* theme */
  --theme-primary-1: #6e4ef2;
  --theme-primary-2: #62a92b;
  --theme-primary-3: #be6895;
  --theme-secondary-1: #21212d;
  --theme-secondary-3: #b2a4ab;

  /* bg */
  --bg-1: #edeaf8;
  --bg-2: #6e4ef2;
  --bg-3: #ffffff;
  --bg-4: #fbf8f9;
  --bg-5: #e8e8e8;
  --bg-6: #f6f4fd;

  /* neutral */
  --neutral-0: #1f1f24;
  --neutral-100: #272730;
  --neutral-200: #565662;
  --neutral-300: #5e5e65;
  --neutral-400: #6d6d72;
  --neutral-500: #858587;
  --neutral-600: #969698;
  --neutral-700: #b2b2ba;
  --neutral-800: #c5c5ca;
  --neutral-900: #edeaf8;
  --neutral-1000: #ffffff;

  /* system */
  --system-success: #64e1b0;
  --system-info: #5577a7;
  --system-warning: #ffd45d;
  --system-danger: #ec4040;
  --system-muted: #9ca3af;

  /* border */
  --border-1: #c0dcbc;

  /* linear gradient */
  --linear-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
  --linear-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
  --linear-3: linear-gradient(-180deg, #dfdfea 0%, rgba(223, 223, 234, 0.31) 31%, rgba(223, 223, 234, 0) 100%);
  --linear-4: linear-gradient(-90deg, #33a381 0%, #129840 100%);
  --linear-5: linear-gradient(-90deg, rgba(31, 31, 36, 0.45) 0%, rgb(31, 31, 36) 100%);
  /* shadow */
  --shadow-1: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
  --shadow-2: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);

  /* degree */
  --angle: 360deg;

  /* Light mode custom scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #f0f0f5; /* Lighter background for scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c5; /* Light thumb color */
    border-radius: 8px; /* Rounded edges for the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9b0; /* Slightly darker color on hover */
  }

  ::-webkit-scrollbar-track {
    background-color: #e0e0e5; /* Track color for the scrollbar */
  }
}

.dark {
  /* Dark theme customizations */
  --hero-bg-img: url('/hero/hero-bg-dark.png');
  --theme-primary-1: #6e4ef2;
  --theme-primary-2: #a8ff53;
  --theme-primary-3: #fcc6e2;
  --theme-secondary-1: #21212d;
  --theme-secondary-2: #f778ba;
  --theme-secondary-3: #40363b;

  /* Dark mode backgrounds */
  --bg-1: #24242d;
  --bg-2: #272730;
  --bg-3: #272730;
  --bg-4: #1f1f24;
  --bg-5: #1f1f24;
  --bg-6: #2a2a31;

  /* Dark mode neutrals */
  --neutral-0: #ffffff;
  --neutral-100: #e9e9ea;
  --neutral-200: #bcbcbe;
  --neutral-300: #8f8f92;
  --neutral-400: #79797c;
  --neutral-500: #636366;
  --neutral-600: #3b3b41;
  --neutral-700: #2a2a31;
  --neutral-800: #24242d;
  --neutral-900: #272730;
  --neutral-1000: #1f1f24;

  /* system colors */
  --system-success: #10b983;
  --system-info: #0f172e;
  --system-warning: #fcd34e;
  --system-danger: #fca5a7;
  --system-muted: #9ca3af;

  /* border */
  --border-1: #3b413d;

  /* linear gradients */
  --linear-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
  --linear-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
  --linear-3: linear-gradient(-180deg, #5e5e63 0%, transparent 100%);
  --linear-4: linear-gradient(-90deg, #659932 0%, #a8ff53 100%);
  --linear-5: linear-gradient(-90deg, rgba(255, 255, 255, 0.32) 0%, rgb(255, 255, 255) 100%);

  /* Dark mode custom scrollbar */
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #1f1f24; /* Darker background for scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3b3b41; /* Dark thumb color */
    border-radius: 8px; /* Rounded edges for the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a51; /* Slightly lighter color on hover */
  }

  ::-webkit-scrollbar-track {
    background-color: #272730; /* Track color for the scrollbar */
  }

  /* custom classes */
  .bg-overlay {
    background: linear-gradient(180deg, rgba(39, 39, 48, 0) 0%, #272730 100%);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --leading-extra-tight: 1.2;

  --shadow-custom-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  --ease-custom-ease: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-custom-ease-2: cubic-bezier(0.645, 0.045, 0.355, 1);

  --animate-typing: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
  --animate-flicker: flicker 800ms infinite;
  --animate-flickering: flickering 3s infinite;
  --animate-rotateme: rotateme 10s linear infinite;
  --animate-hover-icon-exit: move-right-up 0.3s forwards;
  --animate-hover-icon-enter: move-left-down 0.3s forwards;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }

  @keyframes flicker {
    0% {
      color: transparent;
    }
    50% {
      color: var(--neutral-0);
    }
    100% {
      color: transparent;
    }
  }

  @keyframes flickering {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(0.9);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  @keyframes rotateme {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes move-right-up {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(10px, -10px);
      opacity: 0;
    }
  }

  @keyframes move-left-down {
    0% {
      transform: translate(-10px, 10px);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@theme inline {
  --color-primary-1: var(--theme-primary-1);
  --color-primary-2: var(--theme-primary-2);
  --color-primary-3: var(--theme-primary-3);

  --color-secondary-1: var(--theme-secondary-1);
  --color-secondary-2: var(--theme-secondary-2);
  --color-secondary-3: var(--theme-secondary-3);

  --color-neutral-0: var(--neutral-0);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-1000: var(--neutral-1000);

  --color-system-success: var(--system-success);
  --color-system-info: var(--system-info);
  --color-system-warning: var(--system-warning);
  --color-system-danger: var(--system-danger);
  --color-system-muted: var(--system-muted);

  --color-border-1: var(--border-1);

  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-bg-3: var(--bg-3);
  --color-bg-4: var(--bg-4);
  --color-bg-5: var(--bg-5);
  --color-bg-6: var(--bg-6);

  --font-body: var(--font-dm-mono);
  --font-secondary: var(--font-urbanist);
}

@layer base {
  * {
    @apply m-0 box-border list-none scroll-smooth! p-0;
  }

  body {
    @apply bg-bg-5 font-body text-base leading-normal font-normal text-neutral-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-0;
    margin-top: 0px;
    margin-bottom: 16px;
    line-height: 1.2;
  }

  h1 {
    @apply text-[49px] font-medium;
  }
  h2 {
    @apply text-[42px] font-medium;
  }
  h3 {
    @apply leading-extra-tight text-[35px] font-medium;
  }
  h4 {
    @apply text-[29px] font-medium;
  }
  h5 {
    @apply text-[24px] font-medium;
  }
  h6 {
    @apply text-[20px] font-medium;
  }

  button {
    @apply active:outline-none;
  }

  p {
    @apply leading-6.5;
  }
}

/* Container and typography */
@layer components {
  .container {
    @apply mx-auto w-full px-3;
    @apply sm:max-w-135 md:max-w-180 lg:max-w-240 xl:max-w-285 2xl:max-w-330;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-start {
    @apply flex items-center justify-start;
  }

  /* Utilities */
  /* Admin Dashboard utility classes */
  .admin-link {
    @apply border-border-1 hover:text-primary-2 flex items-center justify-center gap-6 rounded-lg border px-4 py-4 duration-200 md:text-xl;
  }
  .admin-link-icon {
    @apply duration-100 group-hover:translate-x-1 md:group-hover:translate-x-2;
  }

  /* Custom classes */
  .text-linear-4 {
    background: var(--linear-4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    height: 80%;
    width: 100%;
  }

  .before-item-dot::before {
    content: '•';
    color: #a0a0a0;
    font-size: 1.25rem;
    position: absolute;
    left: -17px;
    top: 0.1rem;
  }

  .education-before-item-dot::before {
    top: -2px;
  }

  .experience-item-dot::before {
    color: var(--neutral-0);
    top: -3px;
  }

  .my-skills-item-dot::before {
    color: var(--neutral-200);
    top: -2px;
  }

  .blog-card {
    padding: 14px 14px 44px 14px;
    border: 2px solid transparent;
    background:
      linear-gradient(var(--bg-3), var(--bg-3)) padding-box,
      var(--linear-3) border-box;
  }

  .form-control {
    background: var(--bg-3) !important;
    min-height: 58px;
    color: var(--neutral-0) !important;
    border: 1px solid var(--border-1);
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  .form-control:focus {
    border-color: var(--neutral-800) !important;
    box-shadow: none;
    outline: 0;
  }

  .form-validation-error {
    @apply mt-2 text-sm text-red-500;
  }

  .form-label {
    @apply mb-2 text-neutral-300;
  }

  .form-button {
    @apply text-neutral-1000 bg-primary-2 font-secondary rounded-lg px-3 py-3 text-center text-[14px] leading-[14px] font-bold disabled:pointer-events-none disabled:opacity-50 md:px-6 md:py-4;
  }

  .form-checkbox {
    @apply border-primary-2 h-4 w-4 shrink-0 rounded-sm border-2 shadow;
  }

  .form-container {
    @apply grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3;
  }

  .form-heading {
    @apply text-secondary-2 mb-4 text-xl font-medium;
  }

  /* Box linear animation */
  .box-linear-animation {
    border-radius: 8px;
    border: 1px solid #0000;
    background:
      linear-gradient(var(--bg-3), var(--bg-3)) padding-box,
      linear-gradient(var(--angle), var(--bg-3) 90%, var(--theme-primary-2) 100%) border-box;
    animation: 8s rotate linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*=============================
Preloader
===============================*/
#preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
  background-color: #1f1f24;
  .loader-cover {
    .loader-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      .loader-icon {
        width: 30px;
        aspect-ratio: 1.154;
        position: relative;
        background: conic-gradient(from 120deg at 50% 64%, #0000, #62a92b 1deg 120deg, #0000 121deg);
        animation: l27-0 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
      }
      .loader-icon:before,
      .loader-icon:after {
        content: '';
        position: absolute;
        inset: 0;
        background: inherit;
        transform-origin: 50% 66%;
        animation: l27-1 1.5s infinite;
      }
      .loader-icon:after {
        --s: -1;
      }
      .loader-icon-2 {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 20px;
        color: #0000;
        overflow: hidden;
        animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
      }
      .loader-icon-2:before {
        content: 'Loading...';
      }
      .loader-icon-3 {
        height: 15px;
        width: 60px;
        --c: no-repeat repeating-linear-gradient(#0000 0 6px, #be6895 0 9px, #0000 0 15px);
        background: var(--c), var(--c), var(--c), var(--c);
        background-size: 26% 200%;
        animation: l4 1.5s infinite linear;
      }
    }
  }
}
@keyframes l27-0 {
  0%,
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(120deg);
  }
  70.01%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l27-1 {
  0% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
  30%,
  70% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(calc(var(--s, 1) * -2px), 5px);
  }
  100% {
    transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
  }
}
@keyframes l9 {
  0% {
    text-shadow:
      0 0 #fcd34e,
      11ch 0 #62a92b,
      22ch 0 #f778ba,
      33ch 0 #00a0b0,
      44ch 0 #fcd34e;
  }
  25% {
    text-shadow:
      -11ch 0 #fcd34e,
      0ch 0 #62a92b,
      11ch 0 #f778ba,
      22ch 0 #00a0b0,
      33ch 0 #fcd34e;
  }
  50% {
    text-shadow:
      -22ch 0 #fcd34e,
      -11ch 0 #62a92b,
      0ch 0 #f778ba,
      11ch 0 #00a0b0,
      22ch 0 #fcd34e;
  }
  75% {
    text-shadow:
      -33ch 0 #fcd34e,
      -22ch 0 #62a92b,
      -11ch 0 #f778ba,
      0ch 0 #00a0b0,
      11ch 0 #fcd34e;
  }
  100% {
    text-shadow:
      -44ch 0 #fcd34e,
      -33ch 0 #62a92b,
      -22ch 0 #f778ba,
      -11ch 0 #00a0b0,
      0ch 0 #fcd34e;
  }
}
@keyframes l4 {
  0%,
  70%,
  100% {
    background-position:
      calc(0 * 100% / 3) 100%,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%,
      calc(3 * 100% / 3) 100%;
  }
  17.5% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%,
      calc(3 * 100% / 3) 100%;
  }
  35% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 100%,
      calc(3 * 100% / 3) 100%;
  }
  52.5% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 100%;
  }
  69.99% {
    background-position:
      calc(0 * 100% / 3) 0,
      calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0,
      calc(3 * 100% / 3) 0;
  }
}
